sim/sim_modelsim/**
!sim/sim_modelsim/**/
!sim/sim_modelsim/**/*.tcl
!sim/sim_modelsim/**/*.bat
prj/**
!prj/yolo_systolic.srcs/
sim_pds/sim_modelsim/**
!sim_pds/sim_modelsim/**/
!sim_pds/sim_modelsim/**/*.tcl
!sim_pds/sim_modelsim/**/*.bat
prj_pds_2/**
ddrprj/**